<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="submit" method="POST">
        {% csrf_token%}
    <label>Travel</label>
    <input type="number" name="travel"><br><br>
    <label>Education</label>
    <input type="number" name="eduction" id=""><br><br>
    <label>Gifts</label>
    <input type="number" name="gifts"><br><br>
    <label>Investments</label>
    <input type="number" name="investments"><br><br>
    <label>Bills</label>
    <input type="number" name="bills"><br><br>
    <label>food</label>
    <input type="number" name="food" id=""><br><br>
    <label>Health</label>
    <input type="number" name="health"><br><br>
    <label>Personal</label>
    <input type="number" name="personal"><br><br>
    <label>fees</label>
    <input type="number" name="fees"><br><br>
    <button type="submit">Submit</button>
</form>
    
</body>
</html>