<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>  
     <tr style="float: right;">
    <th>Travel</th>
    <th>Education</th>
    <th>Gifts</th>
    <th>Investment</th>
    <th>Bills</th>
    <th>Food</th>
    <th>Health</th>
    <th>Personal</th>
    <th>Fees</th>
    <br><br>
</tr>
    {% for data in key %}
                                        
    <tr>
        <td>{{ data.travel }}</td>
        <td>{{ data.eduction }}</td>
        <td>{{ data.gifts }}</td>
        <td>{{ data.Investment }}</td>
        <td>{{ data.Bills }}</td>
        <td>{{ data.Food }}</td>
        <td>{{ data.Health }}</td>
        <td>{{ data.Personal }}</td>
        <td>{{ data.fee }}</td>
      </tr><br><br>
    {% endfor %}
</body>

</html>

