{% extends 'doc_manage/base.html' %}
<form>
    <input name="report_type" type="hidden" value='sort_by_name'>
    <button type="submit">Sort By Name </button>
</form>

<form>
    <input name="report_type" type="hidden" value='current_month'>
    <button type="submit">Month </button>
</form>

<form>
    <input name="report_type" type="hidden" value='current_year'>
    <button type="submit">Year </button>
</form>



<form>
    <div>
        <label for="start">From </label>
          <input type="date" id="start" name="startdate">
          <label for="end">To </label>
          <input type="date" id="end" name="enddate">
          <input type="submit" name="submit" value="Show">
      </div>
</form>
{% for expense in ExpenseData %}
    {{ expense.category.name }}, {{ expense.amount }}, {{ expense.created_at }}
{% endfor %}

{% endblock main %}


<!-- 
<form>
    <input name="report_type" type="hidden" value='all'>
    <button type="submit">All </button>
</form>

<form>
    <input name="report_type" type="hidden" value='current_month'>
    <button type="submit">Current Month </button>
</form>
<form>
    <input name="report_type" type="hidden" value='previous_month'>
    <button type="submit">Previous Month </button>
</form>
<form>
    <input name="report_type" type="hidden" value='current_year'>
    <button type="submit">Current Year </button>
</form>

{% for expense in ExpenseData %}
    {{ expense.category.name }}, {{ expense.amount }}, {{ expense.created_at }}
{% endfor %} -->
