{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Genure</th>
            <th>Release Date</th>
            <th>Language</th>
            
            <th>Duration</th>
            
        </tr>
            {% for movie in context %}
            <tr>
                <td>{{movie.name}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.release_date}}</td>
                <td>{{movie.language}}</td>
                <td>{{movie.duration}}</td>
                
            </tr>
            {% endfor %}    
    </table>
{% endblock content %}


