<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Artist</h2>
    <form action="submit" method="POST">
        {% csrf_token %}
        <label>Artist name</label>
        <input type="text" name="artist_name"><br><br>
        <label>dob</label>
        <input type="date" name="dob"><br><br>
        <label for="gender">gender</label>
        <select name="gender" id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br><br>
        <button type="submit">submit</button>
    </form>
    <h2>Awards</h2>
    <form action="submitt" method="POST">
        {% csrf_token %}
        <label>name</label>
        <input type="text" name="award_name"><br><br>
        <label>date</label>
        <input type="date" name="date"><br><br>
        <button input="submit">submit</button>
    </form>
    
    <h2>Movies</h2>
    <form action="submittt" method="POST">
        {% csrf_token %}
        <label>name</label>
        <input type="text" name="movie_name"><br><br>
        <label>genre</label>
        <input type="text" name="genre"><br><br>
        <label>release date</label>
        <input type="date" name="date"><br><br>
        <label>avg rating</label>
        <input type="number" name="avg_rating"><br><br>
        <label>language</label>
        <input type="text" name="lang"><br><br>
        <!-- <label>artist</label>
        <input type="text"><br><br> -->
        <label>length</label>
        <input type="number" name="duration"><br><br>
        <!-- <label>award_recevied</label>
        <input type="text"><br><br> -->
        <button input="submit">submit</button>
    </form>
    
    <h2>Rating</h2>
    <form action="submitttt" method="POST">
        {% csrf_token %}
        <label>movie</label>
        <input type="text" name="ccc>
        <label>Rating</label>
        <input type="number" name="rate"><br><br>
        <label>Votes</label>
        <input type="number" name="votes"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>	
